# Prerequisites
*.d
.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables/Output
*.exe
*.out
*.app
main
compress
output.jc
Decompress
decompressed.jpeg
Txt/compressed.bin
main.dSYM
Jpeg/Libjpeg_lossy/jpeg_optimize
compressed.jpeg
.vscode/settings.json
.vscode/tasks.json
